body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    height: 100%;
    max-width: 1280px;
}

.img {
    max-width: 100%;
    display: block;
}

.pd {
    padding-top: 100px;
    padding-bottom: 100px;
}

.dn {
    display: none;
}

/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.wrapper {
    position: relative;
    height: 100vh;
    background: url("../img/wrapper-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.header {
    height: 105px;
    position: fixed;
    width: 100%;
    padding: 0 100px;
    text-transform: uppercase;
    color: #fff;
    z-index: 555;
    transition: .2s;
    background-color: #414141;
}

.header.header--dark {
    height: 90px;
    padding: 0 120px;
    display: flex;
    align-items: center;
}

.menu__list {
    display: flex;
    width: 100%;
    height: 105px;
    justify-content: space-around;
    align-items: center;
}

.menu__list li {
    position: relative;
}

.menu__list > li:hover .sub-menu__list {
    display: block;
}

.sub-menu__list {
    display: none;
    position: absolute;
    left: 0;
    top: 35px;
    padding-top: 35px;
    min-width: 250px;
    font-size: 14px;
    z-index: 1000;
}

.sub-menu__list li:hover {
    background-color: #f343434f;
}

.sub-menu__list li a {
    width: 100%;
}

.sub-menu__list > li {
    background-color: #343434;
}

.sub-menu__link {
    padding: 10px 20px;
}

.sub-sub-menu__list {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 250px;
    background-color: #343434;
}

.sub-sub-menu__link {
    padding: 10px 20px;
}

.sub-menu__list > li:hover .sub-sub-menu__list {
    display: block;
}

.menu__link {
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    transition: .2s;
    border-radius: 5px;
}

.menu__link:hover {
    color: #ff7200;
    background-color: #343434;
}

.menu__link.menu__link-border {
    padding: 0;
    border: 1px solid #fff;
    transition: .2s;
}

.menu__link.menu__link-border:hover {
    border: 1px solid #ff7200;
    background-color: transparent;
}

.menu__link-none {
    display: none;
}

@media (max-width: 1200px) {
    .menu__link {
        font-size: 11px;
    }

    .sub-menu__link,
  .sub-sub-menu__link {
        font-size: 12px;
    }

    .sub-sub-menu__list {
        left: -100%;
    }

    .responsive .responsive__content {
        justify-content: center;
    }

    .responsive .responsive__content .responsive__pc {
        margin-bottom: 30px;
    }

    .responsive .responsive__content .responsive__pc img {
        width: 100%;
    }

    .responsive .responsive__about {
        width: 100%;
    }

    .contact .contact__block {
        margin-top: 40px;
        width: 48%;
    }
}

@media (max-width: 992px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu__list {
        flex-direction: column;
        width: 100%;
        height: auto;
        min-height: calc(100vh - 90px);
        background-color: rgba(175, 175, 175, 0.9);
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 1;
        transform: translateX(100%);
        transition: transform .2s ease-out;
    }

    .menu__list .menu__link-border {
        display: none;
    }

    .menu__list.show {
        transform: translateX(0);
    }

    .burger {
        display: block !important;
    }

    .menu__link-none {
        display: inline-block;
    }

    .dn {
        display: none;
    }

    .team__content .team__content-block {
        width: 45%;
    }

    .work__content .work__block img {
        -o-object-fit: cover;
        object-fit: cover;
    }

    .responsive .responsive__content .responsive__pc {
        margin-right: 0;
    }

    .footer .footer__left {
        flex-wrap: wrap;
    }

    .footer .footer__menu {
        width: 45%;
    }

    .team .team__photo {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .work__content .work__block {
        width: 50%;
    }

    .clients {
        padding: 25px 0 !important;
    }

    .footer .footer__menu {
        width: 60%;
    }
}

@media (max-width: 576px) {
    .header {
        justify-content: space-around;
        padding: 0;
    }

    .slick-prev.slick-arrow,
  .slick-next.slick-arrow {
        width: 35px !important;
        height: 35px !important;
    }

    .btn-orange + .btn-orange {
        margin-left: 0 !important;
    }

    .amazing__content .amazing__content-block {
        width: 100%;
        margin-bottom: 20px;
    }

    .team__content {
        justify-content: center !important;
    }

    .team__content .team__content-block {
        width: 90%;
        margin-bottom: 30px;
    }

    .team__content .team__content-block .team__photo {
        width: 80%;
    }

    .work__content .work__block {
        width: 100%;
    }

    .buy .buy__buttons {
        justify-content: space-around;
    }

    .contact .contact__block {
        width: 100%;
    }

    .footer .footer__left {
        width: 100%;
    }

    .footer .footer__menu {
        width: 100%;
    }
}

.burger {
    position: relative;
    display: none;
    padding: 0;
    background: none;
    border: 0;
    width: 30px;
    height: 23px;
    font-size: 0;
    color: transparent;
}

.burger:focus {
    outline: none;
}

.burger__line {
    display: block;
    width: 30px;
    height: 2px;
    margin: 3px 0;
    background-color: #000000;
    transition: transform .2s ease-out, opacity .2s ease-out;
}

.burger.active
.burger__line:nth-child(2) {
    opacity: 0;
}

.burger.active
.burger__line:nth-child(1),
.burger.active
.burger__line:nth-child(3) {
    position: absolute;
    left: 0;
    top: 50%;
    transform-origin: center;
}

.burger.active
.burger__line:nth-child(1) {
    transform: rotate(45deg);
}

.burger.active
.burger__line:nth-child(3) {
    transform: rotate(-45deg);
}

.body.no-scroll,
body.show-nav {
    overflow: hidden;
}

.intro {
    height: 100%;
    display: flex;
}

.intro__content {
    color: #fff;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro__content h1 {
    font-size: 72px;
    margin-bottom: 105px;
    z-index: 100;
}

.intro__content p {
    font-size: 16px;
    z-index: 100;
}

.about__text {
    margin: 0 auto;
    margin-bottom: 75px;
    max-width: 550px;
    text-align: center;
    position: relative;
}

.content__title {
    position: relative;
    font-size: 36px;
    color: #666666;
    text-transform: uppercase;
    text-align: center;
}

.content__title:after {
    content: "";
    display: block;
    margin: 20px auto;
    background-color: #666666;
    max-width: 170px;
    height: 2px;
}

.content__subtitle {
    margin: 0;
    font-size: 14px;
}

.about__content {
    display: flex;
    justify-content: space-between;
}

.about__slider {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.about__slider .slick-item img {
    width: 100%;
}

.slick-prev.slick-arrow,
.slick-next.slick-arrow {
    position: absolute;
    z-index: 1;
}

.slick-prev.slick-arrow {
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    font-size: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: .2s;
    cursor: pointer;
}

.slick-prev.slick-arrow:hover {
    background-color: #fff;
    border-color: #ff7200;
}

.slick-prev.slick-arrow:before {
    content: '';
    border-right: 10px solid #c5c5c5;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 0;
    z-index: 10;
    right: 5px;
    top: 50%;
    transition: .2s;
}

.slick-prev.slick-arrow:hover:before {
    border-right: 10px solid #ff7200;
}

.slick-next.slick-arrow {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    font-size: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: .2s;
    cursor: pointer;
}

.slick-next.slick-arrow:hover {
    background-color: #fff;
    border-color: #ff7200;
}

.slick-next.slick-arrow:after {
    content: '';
    border-left: 10px solid #c5c5c5;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 0;
    z-index: 10;
    right: 5px;
    top: 50%;
    transition: .2s;
}

.slick-next.slick-arrow:hover:after {
    border-left: 10px solid #ff7200;
}

.about__content-text {
    position: relative;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.btn-orange {
    margin-top: 40px;
    width: 160px;
    height: 50px;
    color: #ff7200;
    background-color: transparent;
    border: 1px solid #ff7200;
    cursor: pointer;
    transition: .2s;
}

.btn-orange:hover {
    color: #fff;
    background-color: #ff7200;
}

.btn-orange + .btn-orange {
    margin-left: 30px;
}

.amazing {
    background: url("../img/amazing-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    position: relative;
}

.amazing:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.amazing .content__title {
    color: #fff;
}

.amazing .content__title:after {
    background-color: #fff;
}

.amazing__content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.amazing__content-block {
    margin-bottom: 80px;
    width: 30%;
    display: flex;
    align-items: flex-start;
}

.amazing__content-block img {
    margin-right: 30px;
}

.amazing__content-block:nth-child(4), .amazing__content-block:nth-child(5), .amazing__content-block:nth-child(6) {
    margin-bottom: 0;
}

.team__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: #666666;
    text-align: center;
}

.team__content-block {
    width: 23%;
}

.team__photo {
    width: 100%;
    margin-bottom: 30px;
}

.team__name {
    margin-bottom: 20px;
    font-size: 16px;
}

.team__name span {
    color: #ff7200;
}

.team__text {
    margin-bottom: 20px;
}

.team__social {
    display: flex;
    justify-content: space-between;
}

.team__social-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: #f0f0f0;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
}

.team__social-block:hover {
    background-color: #ff7200;
}

.team__social-block:hover .team__icon {
    fill: #fff;
}

.team__icon {
    width: 25px;
    height: 25px;
    fill: #666666;
    transition: .2s;
}

.work__content {
    display: flex;
    flex-wrap: wrap;
    min-height: 260px;
}

.work__block {
    position: relative;
    height: 260px;
    width: 25%;
}

.work__block img {
    width: 100%;
    height: 100%;
}

.work__block .work__overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 0.2s ease-in-out 0s;
}

.work__block .work__overlay .team__social-block {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30%;
}

.work__block:hover .work__overlay {
    opacity: 1;
}

.work__block:hover .work__overlay h2 {
    opacity: 1;
    transition: .4s transform .2s, .4s opacity .2s;
    transform: translateY(0);
}

.work__block:hover .work__overlay .work__overlay-text {
    opacity: 1;
    transition: .4s transform .3s, .4s opacity .3s;
    transform: translateY(0);
}

.work__overlay-text {
    position: absolute;
    width: 100%;
    height: 90px;
    background-color: #f0f0f0;
    bottom: 0;
    text-align: center;
    line-height: 90px;
}

.work__overlay-text p {
    margin: 0;
    font-size: 20px;
}

.buy .about__text {
    margin-bottom: 0;
}

.buy__buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.buy__buttons .btn-orange {
    position: relative;
    padding-left: 35px;
}

.buy__buttons .btn-orange .team__icon {
    position: absolute;
    left: 20px;
    top: 11px;
    fill: #ff7200;
}

.btn-orange:hover .team__icon {
    fill: #fff;
}

.testimonials {
    position: relative;
    background: url("../img/testimonials-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.testimonials::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.testimonials h2 {
    color: #fff;
}

.testimonials h2::after {
    margin-bottom: 75px;
    background-color: #fff;
}

.testimonials .about__text {
    max-width: 780px;
}

.testimonials .about__slider {
    width: 100%;
}

.testimonials .about__slider h4 {
    margin-bottom: 30px;
}

.testimonials .about__slider .content__subtitle {
    line-height: 1.6;
    margin-bottom: 40px;
}

.client__name {
    margin-bottom: 40px;
    font-weight: 600;
}

.client__name span {
    color: #ff7200;
}

.testimonials .slick-next.slick-arrow,
.testimonials .slick-prev.slick-arrow {
    top: 115%;
}

.testimonials .slick-next.slick-arrow {
    right: calc(50% - 50px);
}

.testimonials .slick-prev.slick-arrow {
    left: calc(50% - 50px);
}

.clients {
    padding: 50px 0;
    background-color: #ff7200;
}

.clients__slider {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 0 80px;
}

.clients .slick-prev.slick-arrow {
    background-color: transparent;
}

.clients .slick-prev.slick-arrow:hover {
    background-color: #fff;
}

.clients .slick-next.slick-arrow {
    background-color: transparent;
}

.clients .slick-next.slick-arrow:hover {
    background-color: #fff;
}

.clients .slick-slide img {
    width: 100%;
}

.responsive__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.responsive__pc {
    margin-right: 30px;
}

.responsive__about {
    width: 48%;
}

.responsive__about-block {
    display: flex;
    align-items: flex-start;
}

.responsive__about-block + .responsive__about-block {
    margin-top: 40px;
}

.responsive__about-block .team__social-block {
    margin-right: 35px;
    width: 70px;
    height: 70px;
    background-color: #ff7200;
    cursor: auto;
}

.responsive__about-text h5 {
    font-size: 18px;
}

.responsive__about-text p {
    font-size: 14px;
}

.responsive__about-block .team__social-block .team__icon {
    fill: #fff;
}

.responsive__about-block .team__icon {
    width: auto;
    height: 35px;
}

.contact {
    padding: 50px 0 100px;
    background-color: #303030;
}

.contact__blocks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact__block {
    width: 23%;
    color: #fff;
    font-style: normal;
}

.contact__block h4 {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: normal;
}

.contact__block h4 .team__social-block {
    margin-right: 10px;
    background: transparent;
    width: inherit;
    height: inherit;
    cursor: auto;
}

.contact__block h4 .team__social-block .team__icon {
    fill: #fff;
}

.contact__block address {
    font-style: normal;
}

.contact__block address p {
    line-height: 1.5;
    color: #acabab;
    margin-bottom: 30px;
}

.contact__block address p span {
    color: #fff;
}

.contact__soc {
    display: flex;
    justify-content: space-between;
}

.contact__soc .team__social-block {
    background-color: transparent;
    border: 1px solid #fff;
}

.contact__soc .team__social-block .team__icon {
    fill: #fff;
}

.contact__soc .team__social-block:hover {
    border-color: #ff7200;
}

.contact__soc .team__social-block:hover .team__icon {
    fill: #ff7200;
}

.contact__block-inner {
    display: flex;
}

.contact__block-inner + .contact__block-inner {
    margin-top: 35px;
}

.contact__block-img {
    margin-right: 15px;
}

.contact__block-text h5 {
    font-size: 14px;
}

.contact__block-text p {
    font-size: 13px;
}

.contact__block-text p span {
    color: #ff7200;
}

.contact__title-less {
    position: relative;
    padding: 20px 0;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1.1px;
    cursor: pointer;
}

.contact__title-less .team__icon.plus,
  .contact__title-less .team__icon.minus {
    position: absolute;
    width: 13px;
    height: 13px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: #fff;
    transition: .2s;
}

.bg {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #ff7200;
    border-radius: 50%;
}

.contact__title-less.contact__title-less--active .team__icon.plus {
    opacity: 0;
    background-color: transparent;
}

.contact__title-less.contact__title-less--active .team__icon.minus {
    opacity: 1;
}

.block-line {
    height: 1.5px;
    width: 100%;
    background-color: #fff;
}

.contact__block-dn {
    display: none;
    margin-top: 0;
    font-size: 13px;
    color: #c2c2c2;
}

.contact__block .input {
    width: 100%;
    padding: 10px 40px 10px 5px;
    border-radius: 2px;
    border: none;
    background-color: #fff;
}

.form__group {
    position: relative;
    margin-bottom: 15px;
}

textarea {
    width: 100%;
    border-radius: 2px;
}

.form__group .team__icon {
    position: absolute;
    width: 20px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.form .btn-orange {
    background-color: #ff7200;
    color: #fff;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0;
    margin-left: auto;
}

.form .btn-orange:hover {
    background-color: #fff;
    color: #ff7200;
    fill: #ff7200;
}

.form .btn-orange:hover .team__icon {
    fill: #ff7200;
}

.form .btn-orange .team__icon {
    fill: #fff;
    transition: none;
}

.footer {
    padding: 10px 0 20px;
    background-color: #202020;
    color: #ffffff;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer__left {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.footer__left p {
    font-size: 14px;
}

.footer__logo img {
    width: 95px;
}

.footer__logo span {
    display: block;
    font-size: 9px;
}

.footer__menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 35%;
}

.footer__menu-link {
    font-size: 14px;
    color: #c2c2c2;
    transition: .2s;
}

.footer__menu-link:hover {
    color: #fff;
}
